body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
    background: #f2f2f2;
}

h1 {
    font-size: 40px;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
}